.user{
	background-color:#74E79F;
	border: 2px solid #D3D3D3;
	border-radius: 7px;
	font-size: 15px;	
	color: black;
	margin-top:20px;
	margin-bottom:  20px;	
	margin-left: 40%;
	
	padding: 5px;

}

.dummy{
	background-color: #FFFFF0;	
	border: 2px solid #D3D3D3;
	border-radius: 7px;
	font-size: 15px;
	color: black;
	margin-right: 40%;
	padding: 5px;



}
.ui h2{

	font-weight: 50;	
	font-family: "Anton",sans-serif;
	color: white;
}
.ui{
	
	overflow-y: auto;
  overflow-x: hidden;
	
	height: 92%;
}
.sendSection{
	width: 100%;
	margin-top: 1px;
	display: inline-flex;
	justify-content: space-between;
	text-align: center;

}

.inputDetail{
	
	font-size:20px ;
  padding: 5px;
   outline: none;
   width: 100%;
   height: 35px;
   
  


}
.bttn{
	background-color: #4CAF50;
  color: white;
  
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.typing {
 
  position: relative;
  padding: 10px;
  margin-left: 5px;
  background: #e6e6e6;
  border-radius: 20px;
}

.typing__dot {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: #8d8c91;
  border-radius: 50%;
  opacity: 0;
  animation: loadingFade 0.4s infinite;
}


.typing__dot:nth-child(1) {
  animation-delay: 0s;
}

.typing__dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}