@import url("https://fonts.googleapis.com/css?family=Anton");










h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton", sans-serif;
  color: #2a2a2a;
}

ul {
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover,
a:focus {
  text-decoration: none;
}




